html, body {
	background: #FFFFFF;
	font-family: Helvetica, Arial, Verdana, sans-serif, Courier;
	color: #6600cc;
	background-image: url("http://giphy.com/gifs/XtkuVAmGUXqfe/html5"), url("http://gph.is/299Oqw7");
	background-repeat: no-repeat;
	background-size: contain;
}

a {
	color: #9966ff;
	text-decoration: none;
}

.maintable {
	border: 1px dashed #222222;
}

.title {
	font-size: 20px;
	padding: 5px 5px 0px 5px;
	font-weight: bold;
}

.question {
	background: #131339;
 	color: #FFFFFF;
 	padding: 10px;
}

form {
	padding: 0px;
	margin: 0px;
}

body {
  margin: 0;
  background: #000;
}
